/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*  }*/

  /*body {*/
  /*  font: 16px Helvetica, Arial;*/
  /*}*/

  .grey{
    color:lightgrey;
  }

  /*.nav {*/
  /*  top: 0;*/
  /*  background: #000;*/
  /*  padding: 1rem;*/
  /*  font-size: 2rem;*/
  /*  position: fixed;*/
  /*  width: 100%;*/
  /*  margin-bottom: 2rem;*/
  /*}*/

  .chat-input {
    background: #000;
    padding: 0.6rem;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }

  .chat-input input {
    border: 0;
    padding: 1rem;
    width: 80%;
    margin-right: 1%;
    color: inherit;
  }

  .chat-input input:focus {
    color: red;
  }

  .chat-input button {
    width: 8%;
    background: white;
    border: none;
    padding: 0.5rem 1rem;
  }

  #exit {
    padding: 0.5rem;
    border: 1px solid white;
  }

  .exit {
    padding: 0.5rem;
    border: 1px solid white;
  }

  #messages {
    list-style-type: none;
    padding: 0;
    min-height: calc(100vh - 11rem);
  }

  #messages li {
    padding: 1.6rem;
  }

  .rust-icon {
    width: 2.5rem;
    border-radius: 50%;
    background: white;
    margin-right: 1rem;
  }

  /* #messages li:nth-child(even) {
    background: #eee;
  } */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
